@model CourseWork.Domain.ViewModels.Profile.ProfileViewModel

@{
	ViewData["Title"] = "Профиль";
}

<div class="row">
	<div class="col-md-6 col-lg-4">
		@if (User.IsInRole("admin"))
		{
			<a class="list-group-item list-group-item-action list-group-item-danger" href="/Admin">Админка</a>
		}
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Collection/CreateCollection">Создать коллекцию</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Collection/MyCollections">Мои коллекции</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Item/CreateItem">Создать айтем</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Item/MyItems">Мои айтемы</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Account/ChangePassword">Поменять пароль</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Profile/Settings/@Model.Id">Редактирование профиля</a>
	</div>
	<div class="col-md-6  text-center">
		<div class="d-flex justify-content-center m-3">
			<div class="object-fit">
				<img class="avatar lazy"
					 src="/images/thumbnail.png"
					 data-src="@Model.ImgRef"
					 onError="this.src='/images/person.svg'"
					 alt="avatar_logo">
			</div>
		</div>
		<h3>@Model.Username</h3>
		<p>Создано коллекций: @Model.CollectionsCount</p>
		<p>Создано айтемов: @Model.ItemsCount</p>
		<p>Получено лайков: @Model.LikesCount</p>
	</div>
</div>

@section Scripts{
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

