@model CourseWork.ViewModels.Profile.ProfileViewModel

@{
	ViewData["Title"] = User.Identity?.Name;
}

<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="list-group">
			@if (User.IsInRole("admin"))
			{
				<a class="list-group-item list-group-item-action list-group-item-danger" href="/Admin">@Localizer["AdminPage"]</a>
			}
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Collection/CreateCollection">@Localizer["CreateCollection"]</a>
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Collection/MyCollections">@Localizer["MyCollections"]</a>
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Item/CreateItem">@Localizer["CreateItem"]</a>
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Item/MyItems">@Localizer["MyItems"]</a>
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Account/ChangePassword">@Localizer["ChangePassword"]</a>
			<a class="list-group-item list-group-item-action list-group-item-light" href="/Profile/Settings/@Model.Id">@Localizer["ProfileSettings"]</a>
		</div>
	</div>
	<div class="col-md-6  text-center">
		<div class="d-flex justify-content-center m-3">
			<div>
				<img class="avatar lazy"
					 src="~/images/thumbnail.png"
					 data-src="@Model.ImgUrl"
					 onError="this.src='/images/person.svg'"
					 alt="avatar_logo">
			</div>
		</div>
		<h3>@Model.Username</h3>
		<p>@Localizer["CollectionsCreated"]: @Model.CollectionsCreated</p>
		<p>@Localizer["ItemsCreated"]: @Model.ItemsCreated</p>
		<p>@Localizer["LikesCount"]: @Model.LikesCount</p>
	</div>
</div>

@section Scripts{
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

