@using CourseWork.Domain.Entities
@model CourseWork.Domain.ViewModels.Collection.CollectionViewModel

@{
	ViewData["Title"] = "Редактирование коллекции";
}

<h1 class="text-center">Редактирование коллекции</h1>
<div class="container text-center custom-group-form">
	<form asp-action="EditCollection" asp-controller="Collection" enctype="multipart/form-data" method="post">
		<div class="mb-2">
			<div class="validation" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="Name">Название коллекции</label><br />
				<input class="form-control" asp-for="Name" placeholder="Название коллекции" />
			</div>

			<div class="form-group">
				<label asp-for="Description">Описание коллекции</label><br />
				<textarea class="form-control" asp-for="Description"></textarea>
			</div>

			<div class="form-group">
				<label asp-for="ImgRef">Обложка коллекции</label>
				<input name="image" type="file" /><br /><br />
			</div>

			<div class="form-group">
				<label asp-for="Theme">Тема коллекции</label><br />
				<select class="form-control" asp-for="Theme">
					<option value="Books">Books</option>
					<option value="Signs">Signs</option>
					<option value="Silverware">Silverware</option>
					<option value="Pictures">Pictures</option>
					<option value="Coins">Coins</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>

		@if (Model.FreeItems.Count != 0)
		{
			<div style="overflow: auto;">
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col">Выбрать</th>
							<th scope="col">Название айтема</th>
							<th scope="col">Автор</th>
							<th scope="col">Содержание</th>
							<th scope="col">Дата создания</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.FreeItems)
						{
							<tr>
								<td>
									<input type="checkbox" name="selectedItems" value="@item.Id"
								   @(Model.Items.Contains(item) ? "checked=\"checked\"" : "") />
								</td>
								<td>@item.Name</td>
								<td>@item.Author</td>
								<td>@item.Content</td>
								<td>@item.Date</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<p>Нет доступных айтемов <a class="link-info" href="/Item/CreateItem">Создать</a></p>
		}

		<div class="d-flex justify-content-center">
			<button class="btn btn-outline-primary ml-2">Сохранить</button>
			<a class="btn btn-outline-danger ml-3" href="/Collection/DeleteCollection/@Model.Id">Удалить</a>
		</div>

	</form>
</div>

