@model CourseWork.Domain.ViewModels.Collection.CollectionViewModel;

@{
	ViewData["Title"] = "Collection";
}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
		<div class="parent">
			<img class="image lazy"
				 src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw=="
				 data-src="@Model.ImgRef"
				 onError="this.src='/images/imgnotfound.jpg'"
				 alt="" />
		</div>

		<div class="row m-3">
			<div class="col-6 d-flex justify-content-end">

				@{ 
					string attr = User.Identity.IsAuthenticated ? "class=my-cursor id=like" : string.Empty; 
				}
				<div @attr >
					<img class="like" src="~/images/heart.svg" />
				</div>

			</div>
			<div class="col-6 d-flex justify-content-start">
				<h1 id="likesCount">0</h1>
			</div>
		</div>


		@if (Model.Author == User.Identity.Name || User.IsInRole("admin"))
		{
			<div class="text-center">
				<a class="btn btn-outline-info" href="/Collection/EditCollection/@Model.Id">Редактиовать</a>
			</div>
		}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-md-offset-6">
		<input type="hidden" id="srcId" value="@Model.Id" />
		<p><h1>@Model.Name</h1></p>
		<h4>О коллекции</h4>
		<small class="text-secondary">Дата создания: @Model.Date</small>
		<p>Автор: @Model.Author</p>
		<p>Тема: <a style="text-decoration: none;" href="/?theme=@Model.Theme">@Model.Theme</a></p>
		<p>Описание: @Model.Description</p>
		<div>
			Теги:
			@foreach (var item in Model.Tags)
			{
				<a href="#">#@item.Name</a>
			}
		</div>
	</div>

	<partial name="itemsPartial" for="@Model.Items" />
</div>

<partial name="CommentsPartial" />

@section Scripts {
	<script src="~/js/likes.js"></script>
	<script src="~/js/comments.js"></script>
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

