@model CourseWork.ViewModels.Collection.CollectionViewModel;

@{
	ViewData["Title"] = "Collection";
}

<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-5 text-center">
		<div>
			<img class="lazy"
				 src="~/images/thumbnail.png"
				 data-src="@Model.ImgUrl"
				 onError="this.src='/images/imgnotfound.jpg'"
				 alt="" 
				 style="width: 100%" />
		</div>

		<div class="d-flex justify-content-center m-3">
			<div class="d-flex justify-content-end me-1">

				@{
					string attr = User.Identity.IsAuthenticated ? "class=my-cursor id=like-clickable" : string.Empty;
				}
				<div @attr >
					<i id="like" class="like"></i>
				</div>

			</div>
			<div class="d-flex justify-content-start ms-1">
				<h1 class="mb-0" style="font-size: 43px;" id="likesCount">0</h1>
			</div>
		</div>


		@if (Model.Author == User.Identity.Name || User.IsInRole("admin"))
		{
			<div class="text-center">
				<a class="btn btn-outline-info" href="/Collection/EditCollection/@Model.Id">Редактировать</a>
			</div>
		}
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-7">
		<input type="hidden" id="srcId" value="@Model.Id" />
		<p><h1>@Model.Title</h1></p>
		<div class="mt-5">
			<small>Дата создания: @Model.Date</small>
			<p><strong>Автор:</strong> <a class="my-cursor" id="showProfile">@Model.Author</a></p>
			<p><strong>Тема:</strong> <a style="text-decoration: none;" href="/?theme=@Model.Theme">@Model.Theme</a></p>
			
			@if (Model.Tags.Any())
			{
				<div class="mb-3">
					<strong>Теги:</strong>
					@foreach (var item in Model.Tags)
					{
						<a href="/?hashtag=@item">#@item</a>
					}
				</div>
			}
			
			<p><strong>Описание:</strong> @Html.Raw(Markdig.Markdown.ToHtml(Model.Description))</p>
		</div>
	</div>
</div>
<div class="mt-5 mb-lg-3 collection-content-container">
	@if (Model.Items.Any())
	{
		<h3 class="text-center">Содержимое колллекции</h3>
		<div class="row">
			@foreach (var item in Model.Items)
			{
				<partial name="ItemPartial" for="@item" />
			}
		</div>
		<div>
			<partial name="PaginationPartial" for="@Model.Pagination">
		</div>
	}
	else
	{
		<h3 class="text-center mb-5">Коллекция пустая</h3>
	}
</div>

<div class="modal fade" id="showUserInfoModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Информация о пользователе</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<div>
					<div class="object-fit mb-3">
						<img id="avatar" class="avatar lazy" />
					</div>
					<h3 id="username"></h3>
					<p id="collectionsCount"></p>
					<p id="itemsCount"></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<partial name="CommentsPartial" />

@section Scripts {
	<script src="~/js/showProfile.js"></script>
	<script src="~/js/likes.js"></script>
	<partial name="CommentScriptsPartial" />
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

