@model CourseWork.Domain.ViewModels.Collection.CollectionViewModel;

@{
	ViewData["Title"] = "Collection";
}

<div class="row">
	<div class="col-10 col-sm-10 col-md-6 col-lg-5 text-center">
		<div class="object-fit">
			<img class="cover lazy"
				 src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw=="
				 data-src="@Model.ImgRef"
				 onError="this.src='/images/imgnotfound.jpg'"
				 alt="" />
		</div>

		<div class="row m-3">
			<div class="col-6 d-flex justify-content-end">

				@{ 
					string attr = User.Identity.IsAuthenticated ? "class=my-cursor id=like" : string.Empty; 
				}
				<div @attr >
					<img class="like" src="~/images/heart.svg" />
				</div>

			</div>
			<div class="col-6 d-flex justify-content-start">
				<h1 id="likesCount">0</h1>
			</div>
		</div>


		@if (Model.Author == User.Identity.Name || User.IsInRole("admin"))
		{
			<div class="text-center">
				<a class="btn btn-outline-info" href="/Collection/EditCollection/@Model.Id">Редактиовать</a>
			</div>
		}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-md-offset-6">
		<input type="hidden" id="srcId" value="@Model.Id" />
		<p><h1>@Model.Name</h1></p>
		<div class="mt-5">
			<small>Дата создания: @Model.Date</small>
			<p><strong>Автор:</strong> <a class="my-cursor" id="showProfile">@Model.Author</a></p>
			<p><strong>Тема:</strong> <a style="text-decoration: none;" href="/?theme=@Model.Theme">@Model.Theme</a></p>
			<p><strong>Описание:</strong> @Model.Description</p>
			<div>
				<strong>Теги:</strong>
				@foreach (var item in Model.Tags)
				{
					<a href="/?hashtag=@item.Name">#@item.Name</a>
				}
			</div>
		</div>
	</div>
</div>
<div class="mt-5 mb-lg-3 collection-content-container">
	@if (Model.Items.Any())
	{
		<h3 class="text-center">Содержимое колллекции</h3>
		<div class="row">
			@foreach (var item in Model.Items)
			{
				<div class="col-10 col-sm-6 col-md-6 col-lg-4 p-2">
					<a href="/Item/GetItem/@item.Id" >
						<div class="gallery-item">
							<div class="object-fit">
								<img src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw=="
							 data-src="@item.ImgRef"
							 alt="image"
							 class="collection-content-item-cover lazy">
							</div>
							<div class="gallery-item-info">
								<ul>
									<li class="gallery-item-likes">
										<span class="visualy-hidden">Likes: <i class="fa-solid fa-heart"></i> @item.LikesCount</span>
									</li>
									<li class="gallery-items-comments">
										<span class="visualy-hidden">Comments: <i class="fa-solid fa-comment"></i> @item.CommentsCount</span>
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			}
		</div>
		<div>
			<partial name="_paginationPartial" for="@Model.Pagination">
		</div>
	}
	else
	{
		<h3 class="text-center mb-5">Коллекция пустая</h3>
	}
</div>

<partial name="CommentsPartial" />

@section Scripts {
	<script src="~/js/showProfile.js"></script>
	<script src="~/js/likes.js"></script>
	<script src="~/js/comments.js"></script>
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

