@model CourseWork.Domain.ViewModels.Item.ItemViewModel

@{
    ViewData["Title"] = "GetItem";
}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 text-center">

		<div class="object-fit">
			<img class="cover lazy"
				 src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw=="
				 data-src="@Model.ImgRef"
				 onError="this.src='/images/imgnotfound.jpg'"
				 alt="" />
		</div>

		<div class="row m-3">
			<div class="col-6 d-flex justify-content-end">

				@{ 
					string attr = User.Identity.IsAuthenticated ? "class=my-cursor id=like" : string.Empty; 
				}
				<div @attr >
					<img class="like" src="~/images/heart.svg" />
				</div>

			</div>
			<div class="col-6 d-flex justify-content-start">
				<h1 id="likesCount"></h1>
			</div>
		</div>


		@if (Model.Author == User.Identity.Name || User.IsInRole("admin"))
		{
			<div class="text-center">
				<a class="btn btn-outline-info" href="/Item/EditItem/@Model.Id">Редактиовать</a>
			</div>
		}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-md-offset-6">
		<input type="hidden" id="srcId" value="@Model.Id" />
		<h1>@Model.Name</h1>
		<h3>Об айтеме</h3>
		<small class="text-secondary">Дата создания: @Model.Date</small>
		<p>Автор: @Model.Author</p>
		<p>Содержание: @Model.Content</p>
	</div>

	<div class="container">
		<h3 class="text-center"></h3>

		@if (!string.IsNullOrWhiteSpace(Model.CollectionId))
		{
			<h4>Айтем находится в коллекции <a href="/Collection/GetCollection/@Model.CollectionId">@Model.CollectionName</a></h4>
		}
	</div>

</div>

<partial name="CommentsPartial" />


@section Scripts {
	<script src="~/js/comments.js"></script>
	<script src="~/js/likes.js"></script>
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

