@model CourseWork.Domain.ViewModels.Shared.Pagination

@{
	var firstPageData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
	if (firstPageData.ContainsKey("pageId"))
		firstPageData.Remove("pageId");
	firstPageData.Add("pageId", "1");

	var prevRouteData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
	if (prevRouteData.ContainsKey("pageId"))
		prevRouteData.Remove("pageId");
	prevRouteData.Add("pageId", (Model.PageNumber - 1).ToString());

	var nextRouteData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
	if (nextRouteData.ContainsKey("pageId"))
		nextRouteData.Remove("pageId");
	nextRouteData.Add("pageId", (Model.PageNumber + 1).ToString());

	var lastPageData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
	if (lastPageData.ContainsKey("pageId"))
		lastPageData.Remove("pageId");
	lastPageData.Add("pageId", Model.TotalPages.ToString());
}

@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : string.Empty;
	var nextDisabled = !Model.HasNextPage ? "disabled" : string.Empty;
}

<a asp-all-route-data="firstPageData"
   class="pagination-icon btn btn-outline-dark @prevDisabled">
	<i class="fa-solid fa-angles-left"></i>
</a>
<a asp-all-route-data="prevRouteData"
   class="pagination-icon btn btn-outline-dark @prevDisabled">
	<i class="fa-solid fa-chevron-left"></i>
</a>
<a asp-all-route-data="nextRouteData"
   class="pagination-icon btn btn-outline-dark @nextDisabled">
	<i class="fa-solid fa-chevron-right"></i>
</a>
<a asp-all-route-data="lastPageData"
   class="pagination-icon btn btn-outline-dark @nextDisabled">
	<i class="fa-solid fa-angles-right"></i>
</a>
<p>Страница: @Model.PageNumber из @Model.TotalPages</p>

